body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#img-gato {
    width: 40vw;
    margin-top: 5em;
    border: solid 5px lightgrey;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}