body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#img-gato {
    width: 40vw;
    margin-top: 3em;
    border: solid 5px lightgrey;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
}

ul {
    color: rgb(201, 169, 113);
    font-size: large;
    font-family: sans-serif;
}